@import "./Colors";
@import "./Typography";
@import "General";

.form{
  &__left{
    &__awaria{
      label{
        &:first-child{
          @media screen and (max-width: 1200px) {
            margin-top: 1em;
          }
          margin-top: 5em;
        }
      }
    }
    label{
      //@include logInFont();
      //margin-left: 15%;
    }
  }

  &__right{

    &__awaria{
      padding-top: 4.2em;
    }
    select{
      @media screen and (max-width: 1200px) {
        @include bodyBoldFontMobile();
        margin-left: unset;
        font-size: 14px;
      }
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      @include bodyBoldFont();
      margin-left: 15%;
      margin-bottom: 2em;
      margin-top: 1em;
    }
    textarea{
      @media screen and (max-width: 1200px) {
        @include InputTextMobile();
        font-size: 14px;
        width: 100%;
      }
      @include InputText();
      height: 13em;
      margin: 3px 15% 40px;
      resize: none;
      width: 70%;
    }
    label{
      //@include logInFont();
      //margin-left: 15%;
    }
    .button-primary{
      margin-right: 15%;
    }
  }
}