@import "./Colors";
@import "./Typography";
@import "./MainComponent";

.main-card__content{
  display: flex;
  flex-direction: row;
  &__box{
    flex: 1 1 0px;
    border-radius: 1.25em;
    border: 1px solid $color-black;
    padding: 2em;
    margin-left: 1.5em;
    height: 28.43em;
      overflow: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }

    &:first-child{
      margin-left: 0;
    }
    h3{
      @include logInFont();
      text-align: center;
      margin-bottom: 2em;
    }
    p{
      @include cardContentFont();
      text-align: justify;
    }
    .img{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}