@import "./Colors";
@import "./Typography";
@import "General";

.LogIn{
  @media screen and (max-width: 890px) {
    padding: 20px;
    input[type="text"]{
      @include InputTextMobile();
      width: 80%;
    }
  }
  @media screen and (min-width: 769px) {
    input[type="text"]{
      @include InputText();
      width: 510px;
    }
  }

  @include MainCard();
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 45em;
  padding: 40px;
  border-radius: 20px;

  .password{
    @media screen and (max-width: 890px) {
      width: 80%;
      margin: 0 auto;
    }

    position: relative;
    margin: 0 65px;
    .hide{
      display: none;
    }
    .eye{
      margin-left: -30px;
      cursor: pointer;
    }

    @media screen and (max-width: 890px) {
      input[type="password"]{
        @include InputTextMobile();
        width: 100%;
        margin: unset;
      }
      input[type="text"]{
        @include InputTextMobile();
        width: 100%;
        margin: unset;
      }
    }


    input[type="password"]{
        @include InputText();
        width: 100%;
      margin: 1em auto 3em;
    }
    input[type="text"]{
        @include InputText();
        width: 100%;
      margin: 1em auto 3em;
    }
  }

  label{
    @include logInFont();
    margin-left: 10%;
    &:first-child{
      margin-top: 20px;
    }
  }
  a{
    width: 35%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
  }
  .ErrorMessage{
    @include logInFont();
    color: red;
    position: absolute;
    bottom: 20px;
  }


}