@import "./Colors";
@import "./Typography";

@mixin MainComponent(){
  width: 80em;
  height: 42em;
  padding: 3em;
  border-radius: 20px;
  background-color: $color-ash-white;
  margin: 8vh auto 0;
}

@mixin InputText(){
  padding: 0.625em;
  border: none;
  border-bottom: 1px solid $color-black;
  background-color: transparent;
  margin: 1em auto 3.75em;
  font-size: 1.25em;
  &:focus{
    outline: none;
  }
  @include cardContentFont();
}