@import "./Colors";
@import "./Typography";
@import "General";


@keyframes myAnimation{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

.popUp{
  //z-index: 2;
  position: absolute;
  background-color: $color-sea-white;
  padding: 10px 20px;
  border-radius: 20px;
  @include cardContentFont();
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  h3{
    margin-right: 10px;
  }
  animation-name: myAnimation;
  animation-duration: 8000ms;
  animation-fill-mode: forwards;
  &__Error{
    background-color: $color-error;
  }



}
