@import "./Colors";
@import "./Typography";
@import "General";

.main-card__content{

  &__urlop{
    margin-top: 3em;
  }
  &__type{
    @media screen and (max-width: 1200px) {
      padding-top: 0;
      @include logInFontMobile();
      width: 100%;
      padding-left: 0;
    }
    padding-top: 8px;
    width: 50%;
    @include logInFont();
    padding-left: 3em;

  }

  &__calendar{
    @media screen and (max-width: 1200px) {
      width: 100%;
      padding-left: 0;
      @include logInFontMobile();
      margin-top: 3em;
    }
    width: 50%;
    padding-left: 3em;
    @include logInFont();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
      margin-bottom: 3em;
    }
    .button-primary{
        margin-right: 15%;
      margin-top: 3em;
    }

  }
}

