@use "styles/Reset";
@use "styles/Header";
@use "styles/LogIn";
@use "styles/Button";
@use "styles/Dashboard";
@use "styles/Kontakt";
@use "styles/Awaria";
@use "styles/PopUp";
@use "styles/InformacjeOMojejPracy";
@use "styles/Urlop";
@use "styles/Calendar";
@use "styles/ZarabiajWiecej";
@use "styles/PolecPracownika";
@use "styles/General";


body{
  @media screen and (max-width: 540px) {
    background-image: url("./resources/background mobile.png");
    background-size: auto;
  }

  @media screen and (max-width: 1305px) {
    background-image: url("./resources/background mobile.png");
  }

  background-image: url("./resources/background.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
  color: black;
}

.body_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-height: calc(100vh - 100px);

}